
.gitattributes
.vs/PixelPerfect/v16/.suo
.vs/PixelPerfect/v16/Server/sqlite3/db.lock
.vs/PixelPerfect/v16/Server/sqlite3/storage.ide
.vs/PixelPerfect/v16/Server/sqlite3/storage.ide-shm
.vs/PixelPerfect/v16/Server/sqlite3/storage.ide-wal
bin/Debug/CheapLoc.dll
bin/Debug/Dalamud.dll
bin/Debug/Dalamud.pdb
bin/Debug/Dalamud.xml
bin/Debug/Discord.Net.Core.dll
bin/Debug/Discord.Net.Core.pdb
bin/Debug/Discord.Net.Core.xml
bin/Debug/Discord.Net.Rest.dll
bin/Debug/Discord.Net.Rest.pdb
bin/Debug/Discord.Net.Rest.xml
bin/Debug/Discord.Net.WebSocket.dll
bin/Debug/Discord.Net.WebSocket.pdb
bin/Debug/Discord.Net.WebSocket.xml
bin/Debug/EasyHook.dll
bin/Debug/ImGui.NET.dll
bin/Debug/ImGui.NET.pdb
bin/Debug/ImGuiScene.dll
bin/Debug/ImGuiScene.pdb
bin/Debug/Lumina.dll
bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/OpenGL.Net.dll
bin/Debug/PixelPerfect.dll
bin/Debug/PixelPerfect.pdb
bin/Debug/SDL2-CS.dll
bin/Debug/SDL2-CS.dll.config
bin/Debug/Serilog.dll
bin/Debug/Serilog.Sinks.Async.dll
bin/Debug/Serilog.Sinks.File.dll
bin/Debug/SharpDX.Desktop.dll
bin/Debug/SharpDX.Direct3D11.dll
bin/Debug/SharpDX.dll
bin/Debug/SharpDX.DXGI.dll
bin/Debug/SharpDX.Mathematics.dll
bin/Debug/SharpDX.Mathematics.pdb
bin/Debug/SharpDX.pdb
bin/Debug/StbiSharp.dll
bin/Debug/System.Buffers.dll
bin/Debug/System.Collections.Immutable.dll
bin/Debug/System.Drawing.Common.dll
bin/Debug/System.Linq.Async.dll
bin/Debug/System.Memory.dll
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Threading.Tasks.Extensions.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/PixelPerfect.csproj.CopyComplete
obj/Debug/PixelPerfect.csproj.FileListAbsolute.txt
obj/Debug/PixelPerfect.csprojAssemblyReference.cache
obj/Debug/PixelPerfect.dll
obj/Debug/PixelPerfect.pdb
obj/PixelPerfect.csproj.nuget.cache
obj/PixelPerfect.csproj.nuget.dgspec.json
obj/PixelPerfect.csproj.nuget.g.props
obj/PixelPerfect.csproj.nuget.g.targets
obj/project.assets.json
Properties/AssemblyInfo.cs
